src/main/mule/api-ci-cd-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bcad51a-64c2-4986-a873-3a14a136ec20" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="${apiId}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="353c35dd-e6a0-40bb-a189-aa53d39c5f08" flowRef="api-ci-cd-testFlow" />
	<configuration-properties doc:name="Configuration properties" doc:id="a2c79f71-e5ae-4cf6-bd52-ad4840cfba0d" file="config.properties" />
		<flow name="api-ci-cd-testFlow" doc:id="e98a484b-307d-4c27-944d-a3641e04b2a1" >
		<http:listener doc:name="Listener" doc:id="aef6e694-62ef-4813-aefe-42fc7d48bbb2" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6d233f2a-253d-4c82-a878-123ff2ed8266" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="6ea310d8-538f-4081-a8e1-6b70e0b7c647" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
